<h1>Search Post Office Details By PIN Code</h1>
<form #form="ngForm"(submit)="send_details(form.value)">
  <div class="container">
    <div class="center">
      <label size="large"position="floating">PIN Code (6 Character):</label>
      <input required minlength="6" name="name" ngModel />&nbsp;
      <button type="submit">Submit</button>&nbsp;
      <button type="reset" ng-click="reset()">Reset</button>
    </div>
  </div>
</form>
<table>
  <div *ngFor="let x of lst">
    <p>{{validatepin(x)}}</p>
    <div *ngFor="let y of x.PostOffice">
      <tr>
        <td>{{y.Name}}</td>
        <td>{{y.BranchType}}</td>
        <td>{{y.District}}</td>
        <td>{{y.State}}</td>
        <td>{{y.Country}}</td>
        <td>{{y.DeliveryStatus}}</td>
      </tr>
    </div>
  </div>
</table>


